@{
    ViewData["Title"] = "My Final Project";
}
<a style="float: right;" class="btn btn-outline-success" href="/bright_ideas">Home</a>   <a style="float: right;" class="btn btn-outline-primary" href="/logout">Logout</a>
<h3><a href="/users/@ViewBag.SelectedIdea.Owner.UserId">@ViewBag.SelectedIdea.Owner.UserAlias</a> Idea:</h3>
<p class="alert alert-info" >@ViewBag.SelectedIdea.UserIdea</p>

<h3>Poeple who have liked this idea:</h3>
<table>
  <thead  class="table table-bordered">
    <tr>
      <th  scope="col"  >Alias</th>
      <th  scope="col" >Name</th>
    </tr>
  </thead>
  <tbody>
  @{
    foreach (var like in ViewBag.LikedBy)
    {
      <tr scope="row">
        <td ><a href="/users/@like.User.UserId">@like.User.UserAlias</a></td>
        <td >@like.User.UserName</td>
      </tr>
    }
  }
  </tbody>
</table>